doctype html
html.no-js
  block vars
    -
      var conference = {
        name     : 'Sample ASCE Conference'
      , classname: ''
      , menuhover: false
      , tagline  : 'Optional Tagline for the Conference Goes Here Lorem Ipsum'
      , theme    : 'New ideas. New practices. New science. New resources. New colleagues. New business procedures.'
      , detail   : 'Boston, Massachusetts  |  April 3–5, 2015'
      , image    : {
          shield : './img/shield-logo-ewri.png'
        , hero   : './img/fpo-hero.jpg'
        , banner : './img/fpo-header.jpg'
        , sidebar: './img/FPO_sidebar_340x135.jpg'
        }
      }
  head
    title Sample ASCE Conference
    meta(charset="utf-8")
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400italic,600italic,700italic,400,600,700")
    //- link(rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="css/futura.css")
    link(rel="stylesheet" href="styles/chewie.css")
    link(rel="stylesheet" href="node_modules/xmeter/xmeter.min.css")
    link(rel="stylesheet" href="node_modules/bangs/bangs.min.css")
    link(rel="stylesheet" href="vendor/glyphicons_pro_1_9_2/glyphicons/web/html_css/css/glyphicons.css")
    link(rel="stylesheet" href="vendor/glyphicons_pro_1_9_2/glyphicons-filetypes/web/html_css/css/glyphicons-filetypes.css")
    link(rel="stylesheet" href="vendor/glyphicons_pro_1_9_2/glyphicons-halflings/web/html_css/css/glyphicons-halflings.css")
    link(rel="stylesheet" href="vendor/glyphicons_pro_1_9_2/glyphicons-social/web/html_css/css/glyphicons-social.css")
    link(rel="stylesheet" href="src/legacy.css")
    //- script(src="//use.typekit.net/imj1jdn.js")
    //- script try{Typekit.load();}catch(e){}
    noscript
      // remove Toggle menu when JS is disabled
      style.
        @media not all and (min-width: 45em) {
          .c-Toggle,
          .o-Drawer { display: none; }
        }
  body(class=conference.classname)#top
    a.h-Hidden(href="#main") skip to main content
    header
      nav.o-Flex.o-MobileBar
        a.o-Flex__Item.o-MobileBar__Item.-lh-z(href="./")
          i.glyphicons.glyphicons-home: span.h-Hidden Home
        label.o-Flex__Item.o-MobileBar__Item.c-Toggle(aria-label="toggle main menu")
          input.c-Toggle__Check.h-Hidden(type="checkbox" value="main menu is open" role="switch")
          i.c-Toggle__Viz.glyphicons.glyphicons-menu-hamburger(role="none")
        noscript
          a(href="#sitemap") Site Map
        div.o-Drawer.c-NavBar.c-NavBar--mobile
          //- change div to ul.o-List later
          div
            a(href="./") Home
          div
            a(href="") Program
            ul
              li: a(href="") Speakers
              li: a(href="") Exhibitor List
              li: a(href="") ASCE Communities &amp; Pavilions
          div
            a(href="") Location
            ul
              li: a(href="") Lodging &amp; Transportation
              li: a(href="") For International Travel
          div
            a(href="") About
            ul
              li: a(href="") Cooperating Organizations
              li: a(href="") Volunteer
          div: a(href="") Why Attend
          div: a(href="") Registration
          div: a(href="") For Speakers
          div: a(href="./sponsors.html") Sponsors
          div: a(href="") Exhibitors
      div.c-Mast.c-Mast--head
        div.o-Flex.o-Constrain
          a.o-Flex__Item.o-Flex.o-Flex--siteHead.o-MainCol(href="./" rel="home")
            div.o-Flex__Item.o-Flex__Item--siteLogo
              img.c-ConfLogo(src=conference.image.shield alt="Home")
            div.o-Flex__Item.o-Flex__Item--siteTitles.c-ConferenceTitles.-ta-l-sM
              h1.c-ConferenceTitles__Name= conference.name
              p.c-ConferenceTitles__Detail= conference.detail
              p.c-ConferenceTitles__Tagline= conference.tagline
          div.o-Flex__Item.o-SideCol.c-TopImg(style=`background-image: url('${conference.image.banner}');`)
            span.c-YearBadge(role="none") 15
            div.o-Flex.c-NavBar.c-NavBar--contrib
              //- change to ul.o-List later
              a(href="") For Speakers
              a(href="./sponsors.html") Sponsors
              a(href="") Exhibitors
      nav.c-Mast.c-Mast--nav
        div.o-Flex.o-Constrain
          div.o-Flex__Item.o-Flex.o-MainCol.c-NavBar.c-NavBar--main
            //- change div to ul.o-List later
            a(href="./"): i.glyphicons.glyphicons-home
              span.h-Hidden Home
            a(href="", data-menu-target="#programlevel2")
              | Program
              i.glyphicons.-fz-norm.glyphicons-chevron-down
            a(href="", data-menu-target="#locationlevel2" class={'active':conference.menuhover})
              | Location
              i.glyphicons.-fz-norm.glyphicons-chevron-down
            a(href="", data-menu-target="#aboutlevel2")
              | About
              i.glyphicons.-fz-norm.glyphicons-chevron-down
            a(href="", data-menu-target="#contactlevel2")
              | Contact
          div.o-Flex__Item.o-Flex.o-SideCol.c-NavBar.c-NavBar--register
            //- change div to ul.o-List later
            a(href="") Why Attend
            a(href="") Registration
      nav.c-Mast.c-Mast--nav.c-Mast--nav--sub
        div.o-Constrain
          ul.o-List.o-Flex.c-NavBar.c-NavBar--sub#programlevel2
            li: a(href="") Speakers
            li: a(href="") Exhibitor List
            li: a(href="") ASCE Communities &amp; Pavilion
          ul.o-List.o-Flex.c-NavBar.c-NavBar--sub#locationlevel2(class={'active':conference.menuhover})
            li: a(href="") Lodging &amp; Transportation
            li: a(href="") For International Travel
          ul.o-List.o-Flex.c-NavBar.c-NavBar--sub#aboutlevel2
            li: a(href="") Cooperating Organizations
            li: a(href="") Volunteer
    main.o-Flex.o-Constrain.-xd-c-nM.-mb-2#main
        div.o-Flex__Item.o-MainCol
          header.c-Hero
            img.c-Hero__Img(src=conference.image.hero alt="unsaturated soil&mdash;dry cracked earth")
            h1.c-Hero__Hn= conference.theme
            p.c-Hero__Blurb.
              Exposure to the latest industry advances will help you discover
              your own #[a cutting-edge solutions]. Gain contacts among colleagues and
              #[a(href) resource providers]. Ultimately, #[cite Structures Congress 2014]
              will #[a.c-LinkBanner(href) prepare you and your organization]
              to tackle greater challenges.
          section.t-Content
            h2 Keynote Speakers
            ul.o-List
              li.o-Flex.c-KeynoteSpeaker
                div.o-Flex__Item.c-KeynoteSpeaker__Session.c-DateBlock
                  div.c-DateBlock__Date: time.h-Block(datetime="2014-04-03")
                    span.h-Block Thursday
                    span.h-Block.c-DateBlock__MonthDay Apr 3
                  div.c-DateBlock__Desc Opening Plenary
                div.o-Flex__Item.c-KeynoteSpeaker__Headshot: img(src="./img/FPO_speaker_130x130.jpg" alt="Charles Johnson")
                div.o-Flex__Item.c-KeynoteSpeaker__Details
                  p.c-Chair
                    span.h-Block.c-Chair__Name Charles Johnson, Ph.D., P.E., S.E., CVS, F.ASCE
                    span.h-Block.c-Chair__Affiliation Illuminate Foundry, Inc.
                  p: a.c-Btn(href="#0") Speaker Details
              li.o-Flex.c-KeynoteSpeaker
                div.o-Flex__Item.c-KeynoteSpeaker__Session.c-DateBlock
                  div.c-DateBlock__Date: time.h-Block(datetime="2014-04-03")
                    span.h-Block Wednesday
                    span.h-Block.c-DateBlock__MonthDay Apr 12
                  div.c-DateBlock__Desc Special Session
                div.o-Flex__Item.c-KeynoteSpeaker__Headshot: img(src="http://www.aei-conference.org/sites/aei-conference.org/files/louise-comfort.jpg" alt="Louise Comfort")
                div.o-Flex__Item.c-KeynoteSpeaker__Details
                  p.c-Chair
                    span.h-Block.c-Chair__Name Dr. Louise K. Comfort, Ph.D.
                    span.h-Block.c-Chair__Affiliation Director, Center for Disaster Management
                    span.h-Block.c-Chair__Affiliation University of Pittsburgh
                  p: a.c-Btn(href="#0") Speaker Details
            h2 Pre-Conference Seminars
            p Sign up to earn additional PDHs at a pre-conference seminar:
            div.session Post Disaster Safety Evaluations
            p 6.0 PDHs - in cooperation with California Office of Emergency Services (CalOES) and Applied Technology Council (ATC)
            div.session Design of Sustainable Thermal Breaks
            p 4.0 PDHs
            h2 More Highlights
            ul
              li Dynamic technical sessions - choose from more than 120 sessions
              li The Council of American Structural Engineers (CASE) Spring Risk Management Convocation
              li Networking with more than 1,200 colleagues
            p: a.c-Btn(href="") View Program
        div.o-Flex__Item.o-SideCol.-pt-1.-ph-2
            aside.c-Callout
              h1.c-Callout__Hn: img(src=conference.image.sidebar alt="Boston Skyline")
              div.c-Callout__Body
                p.-fw-b
                  a(href="/location/hotel-travel") Sheraton Boston Hotel &amp; Hynes Convention Center
                  br
                  | 1201 Houston Street
                  br
                  | Fort Worth, TX 76102
                p: a.c-Btn(href="#0") link
                p: a.c-Btn link without href
                p: button.c-Btn button
                p: button.c-Btn(disabled="") disabled button
                p Early Bird Rates - Save up to $200!
                p.
                  $675 - Members #[br]
                  $875 - Non-Members #[br]
                  #[a(href="") More options &amp; rates available]#[br]
                  Prices go up February 12, 2014
            aside.c-Callout
              h1.c-Callout__Hn Important Dates
              div.c-Callout__Body
                dl.c-DateBlock
                  dt.c-DateBlock__Date: time.h-Block(datetime="2013-12-18")
                    span.h-Block.c-DateBlock__MonthDay Dec 18
                    span.h-Block 2013
                  dd.c-DateBlock__Desc Final Papers Due
                  dt.c-DateBlock__Date: time.h-Block(datetime="2014-02-12")
                    span.h-Block.c-DateBlock__MonthDay Feb 12
                    span.h-Block 2014
                  dd.c-DateBlock__Desc Early Registration Deadline
                  dt.c-DateBlock__Date: time.h-Block(datetime="2014-03-13")
                    span.h-Block.c-DateBlock__MonthDay Mar 13
                    span.h-Block 2014
                  dd.c-DateBlock__Desc Advance Registration Deadline
                  dt.c-DateBlock__Date: time.h-Block(datetime="2014-04-21")
                    span.h-Block.c-DateBlock__MonthDay Apr 21
                    span.h-Block 2014
                  dd.c-DateBlock__Desc Cancellation Deadline (minus $65)
            aside.c-Callout
              h1.c-Callout__Hn Conference Chairs
              div.c-Callout__Body
                ul.o-List
                  li.c-Chair
                    span.h-Block.c-Chair__Name Glenn Bell, P.E., F.SEI, M.ASCE
                    span.h-Block.c-Chair__Affiliation Simpson Gumpertz &amp; Heger Inc.
                  li.c-Chair
                    span.h-Block.c-Chair__Name Matt Card, P.E., Aff.M.ASCE
                    span.h-Block.c-Chair__Affiliation Alfred Benesch &amp; Co.
                p: a(href="") Message from the Chairs
            aside.c-Callout
              h1.c-Callout__Hn Plan, Engage, Connect
              div.c-Callout__Body
                p Enhance your conference experience with our mobile app.
                ul.o-List.o-Flex
                  li: a(href=""): img(src="./img/App-Store.png" alt="")
                  li: a(href=""): img(src="./img/Google-Play.png" alt="")
            aside.c-Callout
              h1.c-Callout__Hn Join the Conversation
              div.c-Callout__Body
                p Follow ASCE on social media for real-time conversation.
                p: a(href="#0")
                  i.glyphicons.social.social-twitter.-mr-h(role="none")
                  | #structures2014
    div.-mb-2
      aside: div.o-Constrain.-mh-2
        h2 Top Sponsors
        mixin supporterBlock(level, size, list)
          section.c-SupporterBlock(class=`c-SupporterBlock--${size}`)
            h1.c-SupporterBlock__Hn= level
            ul.o-List.o-Flex.c-SupporterBlock__List
              each item in list
                li.o-List__Item.o-Flex__Item.c-SupporterBlock__List__Item(itemprop="sponsor" itemscope="" itemtype="http://schema.org/Organization")
                  a(href=item.url rel="external nofollow" itemprop="url")
                    img.c-SupporterBlock__Logo(src=item.img alt=item.name itemprop="logo")
                    meta(content=item.name itemprop="name")
        +supporterBlock('Platinum', 'lrg', [
          { name: 'Espon'   , url: '#0', img: 'img/sponsor_logo_horizontal2.gif' }
        , { name: 'Alliance', url: '#0', img: 'img/sponsor_logo_horizontal1.gif' }
        ])
        +supporterBlock('Gold', 'lrg', [
          { name: 'Ria'     , url: '#0', img: 'img/Sponsorlogo_square1.gif'      }
        , { name: 'Geico'   , url: '#0', img: 'img/sponsor_logo_horizontal3.gif' }
        , { name: 'Exponent', url: '#0', img: 'img/sponsor_logo_horizontal4.gif' }
        ])
        +supporterBlock('Corporate', 'med', [
          { name: 'Geico'   , url: '#0', img: 'img/sponsor_logo_horizontal3.gif' }
        , { name: 'Exponent', url: '#0', img: 'img/sponsor_logo_horizontal4.gif' }
        ])
        +supporterBlock('Silver', 'med', [
          { name: 'Exponent', url: '#0', img: 'img/sponsor_logo_horizontal4.gif' }
        , { name: 'Espon'   , url: '#0', img: 'img/sponsor_logo_horizontal2.gif' }
        ])
        +supporterBlock('Bronze', 'sml', [
          { name: 'Ria'     , url: '#0', img: 'img/Sponsorlogo_square1.gif'      }
        , { name: 'Geico'   , url: '#0', img: 'img/sponsor_logo_horizontal3.gif' }
        ])
        +supporterBlock('Copper', 'sml', [
          { name: 'Alliance', url: '#0', img: 'img/sponsor_logo_horizontal1.gif' }
        , { name: 'Geico'   , url: '#0', img: 'img/sponsor_logo_horizontal3.gif' }
        , { name: 'Exponent', url: '#0', img: 'img/sponsor_logo_horizontal4.gif' }
        ])
      aside.c-Mast.c-Mast--coop: div.o-Constrain.-mh-2
        h2.h-Hidden Top Supporters
        +supporterBlock('Cooperating Organizations', 'sml', [
          { name: 'AISC'    , url: '#0', img: 'img/cooplogo_square1.gif'     }
        , { name: 'Correios', url: '#0', img: 'img/cooplogo_horizontalcolor1.gif' }
        , { name: 'Jacobs'  , url: '#0', img: 'img/cooplogo_horizontalcolor2.gif' }
        , { name: 'T&DI'    , url: '#0', img: 'img/cooplogo_horizontal2.gif' }
        , { name: 'CI'      , url: '#0', img: 'img/cooplogo_square4.gif'     }
        , { name: 'EWRI'    , url: '#0', img: 'img/cooplogo_horizontal4.gif' }
        , { name: 'KU'      , url: '#0', img: 'img/Sponsorlogo_square2.gif' }
        ])
        +supporterBlock('Educational Grant', 'sml', [
          { name: 'AISC'    , url: '#0', img: 'img/cooplogo_square1.gif'     }
        , { name: 'Correios', url: '#0', img: 'img/cooplogo_horizontalcolor1.gif' }
        , { name: 'Jacobs'  , url: '#0', img: 'img/cooplogo_horizontalcolor2.gif' }
        , { name: 'T&DI'    , url: '#0', img: 'img/cooplogo_horizontal2.gif' }
        , { name: 'CI'      , url: '#0', img: 'img/cooplogo_square4.gif'     }
        , { name: 'EWRI'    , url: '#0', img: 'img/cooplogo_horizontal4.gif' }
        , { name: 'KU'      , url: '#0', img: 'img/Sponsorlogo_square2.gif' }
        ])
    footer
      dl.o-Flex.o-Tabs
        //- NOTE: 'current' displayed first for accessibility
        mixin yearTab(year, conference_info, which)
          dt.o-Flex__Item.o-Tabs__Tab(class={'js-xo-_1': which==='prev'} id=`tab-${which}`)
            label.h-Block
              input.o-Tabs__Check.h-Hidden(type="radio" name="footertabs" value=year)&attributes((which==='current') ? {checked:''} : {})
              time.c-YearBadge.c-YearBadge--tab(datetime=year aria-label=year)= year.toString().slice(2)
          dd.o-Flex__Item.o-Tabs__Panel.c-FooterPanel(id=`panel-${which}`): div.o-Constrain
            div.o-Flex.o-Flex--siteHead.-mv-2
              //- div.o-Flex__Item: span.c-YearBadge(role="none")= year.toString().slice(2)
              div.o-Flex__Item.o-Flex__Item--siteLogo
                img.c-ConfLogo(src=conference.image.shield alt="EWRI Institute Shield" role="none")
              div.o-Flex__Item.c-ConferenceTitles
                if conference_info.name
                  h1.c-ConferenceTitles__Name= conference_info.name
                if conference_info.detail
                  p.c-ConferenceTitles__Detail= conference_info.detail
                if conference_info.tagline
                  p.c-ConferenceTitles__Tagline= conference_info.tagline
            div(class={'o-Flex o-Flex--siteFoot':which==='current', 't-Content':which!=='current'})
                block
        +yearTab(2014, {name:'Sample ASCE Conference 2014'}, 'current')
          nav.o-Flex__Item.c-Sitemap#sitemap
            h3.h-Hidden Sitemap (part 1 of 2)
            ul.o-List(role="directory")
              li.o-List__Item.c-Sitemap__TopItem
                a.c-Sitemap__TopItem__Link(href="./") Home
              li.o-List__Item.c-Sitemap__TopItem
                a.c-Sitemap__TopItem__Link(href="") Program
                ul.o-List.c-Sitemap__TopItem__List
                  li.o-List__Item: a(href="") Speakers
                  li.o-List__Item: a(href="") Exhibitor List
                  li.o-List__Item: a(href="") ASCE Communities &amp; Pavilions
              li.o-List__Item.c-Sitemap__TopItem
                a.c-Sitemap__TopItem__Link(href="") Location
                ul.o-List.c-Sitemap__TopItem__List
                  li.o-List__Item: a(href="") Lodging &amp; Transportation
                  li.o-List__Item: a(href="") For International Travel
              li.o-List__Item.c-Sitemap__TopItem
                a.c-Sitemap__TopItem__Link(href="") About
                ul.o-List.c-Sitemap__TopItem__List
                  li.o-List__Item: a(href="") Cooperating Organizations
                  li.o-List__Item: a(href="") Volunteer
              li.o-List__Item.c-Sitemap__TopItem
                a.c-Sitemap__TopItem__Link(href="") Contact
          nav.o-Flex__Item.c-Sitemap
            h3.h-Hidden Sitemap (part 2 of 2)
            ul.o-List(role="directory")
              li.o-List__Item.c-Sitemap__TopItem: a.c-Sitemap__TopItem__Link(href="") Why Attend
              li.o-List__Item.c-Sitemap__TopItem: a.c-Sitemap__TopItem__Link(href="") Registration
              li.o-List__Item.c-Sitemap__TopItem: a.c-Sitemap__TopItem__Link(href="") For Speakers
              li.o-List__Item.c-Sitemap__TopItem: a.c-Sitemap__TopItem__Link(href="./sponsors.html") Sponsors
              li.o-List__Item.c-Sitemap__TopItem: a.c-Sitemap__TopItem__Link(href="") Exhibitors
          div.o-Flex__Item
            nav
              h3 Contact Us
              ul.o-List.-fz-el-kil
                li.o-List__Item.-mb-1: a(href="#0")
                  i.glyphicons.-mr-1.glyphicons-iphone(role="none")
                  | (800) 548-2723
                li.o-List__Item.-mb-1: a(href="#0")
                  i.glyphicons.-mr-1.glyphicons-earphone(role="none")
                  | +1 (703) 295-7300
                li.o-List__Item.-mb-1: a(href="#0")
                  i.glyphicons.-mr-1.glyphicons-envelope(role="none")
                  | Other contacts
            nav
              h3 Connect With ASCE
              ul.o-List.o-Flex.-xjc-xs.-jc-xs.-jc-s
                li.o-List__Item.o-Flex__Item.-x-z.-mr-1: a(href="#0")
                  i.glyphicons.social.social-linked-in
                    span.h-Hidden linkedin
                li.o-List__Item.o-Flex__Item.-x-z.-mr-1: a(href="#0")
                  i.glyphicons.social.social-facebook
                    span.h-Hidden facebook
                li.o-List__Item.o-Flex__Item.-x-z.-mr-1: a(href="#0")
                  i.glyphicons.social.social-twitter
                    span.h-Hidden twitter
                li.o-List__Item.o-Flex__Item.-x-z.-mr-1: a(href="#0")
                  i.glyphicons.social.social-youtube
                    span.h-Hidden youtube
                li.o-List__Item.o-Flex__Item.-x-z.-mr-1: a(href="#0")
                  i.glyphicons.social.social-google-plus
                    span.h-Hidden google plus
        +yearTab(2013, {name:'Sample ASCE Conference 2013', tagline:'Lorem Ipsum Optional Tagline for the Conference Goes Here', detail:'Toronto, Canada | May 2–4, 2013'}, 'prev')
                    p: a.c-LinkArrow(href="") Program
                    p: a.c-LinkArrow(href="") Proceedings
        +yearTab(2015, {name:'Sample ASCE Conference 2015', tagline:'Lorem Ipsum Optional Tagline for the Conference Goes Here', detail:'Mexico City, Mexico | April 30–May 2, 2015'}, 'next')
                    p: a.c-LinkArrow(href="") Call for submissions
                    p: a.c-LinkArrow(href="./sponsors.html") Sponsors
                    p: a.c-LinkArrow(href="") Exhibit
    footer
      div.c-Mast.c-Mast--copyright
        p.-mb-z.-ta-c
          i.c-AsceLogo(role="none")
          a(href="http://www.asce.org/" rel="external") &copy; 1996&ndash;2015, American Society of Civil Engineers | ASCE.org
    a(href="#top") jump to top
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
    script.
      window.jQuery || document.write('<script src="./js/vendor/jquery-1.11.0.min.js"><\/script>')
    script(src="./bower_components/bootstrap/dist/js/bootstrap.min.js")
    script(src="./js/vendor/jquery.hoverIntent.min.js")
    script(src="./bower_components/jquery-cycle2/build/jquery.cycle2.min.js")
    script(src="./js/main.js")
    script(src="scripts/o-Tabs.js")
    script.
      $('.js-xo-_1').addClass('-xo-_1');
      $('.o-Drawer').find('a').attr('tabindex', -1);
      $('.c-Toggle__Check').change(function () {
        $(this).parents('.c-Toggle').siblings('.o-Drawer').toggleClass('o-Drawer--open');
        $(this).parents('.c-Toggle').siblings('.o-Drawer').find('a').each(function () {
          if ($(this).attr('tabindex') === '0') $(this).attr('tabindex', -1)
          else $(this).attr('tabindex', 0)
        })
        $(this).siblings('.c-Toggle__Viz').toggleClass('glyphicons-menu-hamburger glyphicons-remove-circle -ps-f -r-1')
      })
