doctype html
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8">        <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9">               <![endif]-->
<!--[if gt IE 8]><!-->
html.no-js
  <!--<![endif]-->
  block vars
    -
      var conference = {
        name     : 'Sample ASCE Conference'
      , classname: ''
      , menuhover: false
      , tagline  : 'Optional Tagline for the Conference Goes Here Lorem Ipsum'
      , theme    : 'New ideas. New practices. New science. New resources. New colleagues. New business procedures.'
      , detail   : 'Boston, Massachusetts  |  April 3–5, 2015'
      , image    : {
          shield : './img/shield-logo-ewri.png'
        , hero   : './img/fpo-hero.jpg'
        , banner : './img/fpo-header.jpg'
        , sidebar: './img/FPO_sidebar_340x135.jpg'
        }
      }
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title Sample ASCE Conference
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    //- script(src="//use.typekit.net/imj1jdn.js")
    //- script try{Typekit.load();}catch(e){}
    link(rel="stylesheet", href="./css/futura.css")
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Open+Sans:300,400italic,600italic,700italic,400,600,700")
    link(rel="stylesheet", href="./bower_components/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="./styles/chewie.css")
    link(rel="stylesheet", href="./styles/legacy.css")
    <!--[if lt IE 9]> <script src="./js/vendor/html5-3.6-respond-1.1.0.min.js"></script> <![endif]-->
  body(class=conference.classname)
    <!--[if lt IE 7]> <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p> <![endif]-->
    div.toggleable-nav.fade
      div.ic.close-nav(tabindex="0") X
      div.link-block
        a.large.uppercase(href="./") Home
      div.link-block
        a.large.uppercase(href="") Program
        a(href="") Speakers
        a(href="") Exhibitor List
        a(href="") ASCE Communities &amp; Pavilions
      div.link-block
        a.large.uppercase(href="") Location
        a(href="") Lodging &amp; Transportation
        a(href="") For International Travel
      div.link-block
        a.large.uppercase(href="") About
        a(href="") Cooperating Organizations
        a(href="") Volunteer
      a.large.uppercase(href="") Why Attend
      a.large.uppercase(href="") Registration
      a.large.uppercase(href="") For Speakers
      a.large.uppercase(href="./sponsors.html") Sponsors
      a.large.uppercase(href="") Exhibitors
    header.header
      div.visible-xs.mobile-nav.navigation
        a(href="./") #[span.ic.home]
        a(href="") Register
        a.menu-toggle(href="") Menu #[span.ic.menu]
      div.c-Mast
        div.o-Flex.o-Constrain
          a.o-Flex__Item.o-Flex.o-MainCol.c-HomeLink(href="./" rel="home")
            div.o-Flex__Item.c-HomeLink__Logo
              img.c-ConfLogo(src=conference.image.shield alt="Home")
            div.o-Flex__Item.c-HomeLink__Titles
              h1.c-ConferenceName= conference.name
              p.c-ConferenceTagline= conference.tagline
              p.c-ConferenceLocation= conference.detail
          div.o-Flex__Item.o-SideCol.c-TopImg(style=`background-image: url('${conference.image.banner}');`)
            span.c-YearBadge 15
            div.o-Flex.c-NavBar.c-NavBar--contrib
              //- change to ul.o-List later
              a(href="") For Speakers
              a(href="./sponsors.html") Sponsors
              a(href="") Exhibitors
      nav.c-Mast.c-Mast--nav
        div.o-Flex.o-Constrain
          div.o-Flex__Item.o-Flex.o-MainCol.c-NavBar.c-NavBar--main
            //- change div to ul.o-List later
            a(href="./") #[span.ic.home]
            a(href="", data-menu-target="#programlevel2")  Program  #[span.ic.chevron-down]
            a(href="", data-menu-target="#locationlevel2" class={'active':conference.menuhover}) Location #[span.ic.chevron-down]
            a(href="", data-menu-target="#aboutlevel2")    About    #[span.ic.chevron-down]
            a(href="", data-menu-target="#contactlevel2")  Contact  #[span.ic.chevron-down]
          div.o-Flex__Item.o-Flex.o-SideCol.c-NavBar.c-NavBar--register
            //- change div to ul.o-List later
            a(href="") Why Attend
            a(href="") Registration
      nav.c-Mast.c-Mast--nav.c-Mast--nav--sub
        div.o-Constrain
          ul.o-List.o-Flex.c-NavBar.c-NavBar--sub#programlevel2
            li: a(href="") Speakers
            li: a(href="") Exhibitor List
            li: a(href="") ASCE Communities &amp; Pavilion
          ul.o-List.o-Flex.c-NavBar.c-NavBar--sub#locationlevel2(class={'active':conference.menuhover})
            li: a(href="") Lodging &amp; Transportation
            li: a(href="") For International Travel
          ul.o-List.o-Flex.c-NavBar.c-NavBar--sub#aboutlevel2
            li: a(href="") Cooperating Organizations
            li: a(href="") Volunteer
    main.o-Flex.o-Constrain.-xd-c-nM
        div.o-Flex__Item.o-MainCol
          header.c-Hero
            img.c-Hero__Img(src=conference.image.hero alt="")
            h1.c-Hero__Hn= conference.theme
            p.c-Hero__Blurb.
              Exposure to the latest industry advances will help you discover
              your own #[a cutting-edge solutions]. Gain contacts among colleagues and
              #[a(href) resource providers]. Ultimately, #[cite Structures Congress 2014]
              will #[a.c-LinkBanner(href) prepare you and your organization]
              to tackle greater challenges.
          section.h-Spaced
            h2 Keynote Speakers
            div.speaker-profile
              div.session-col
                div.col-sm-6.dateline.text-right THURSDAY #[div.date APR 3]
                div.col-sm-6.sessiontype         OPENING #[br] PLENARY
              div.photo-col
                img(src="./img/FPO_speaker_130x130.jpg", alt="speaker")
              div.details-col
                div.person-name Charles Johnson
                div.person-title Ph.D., P.E., S.E., CVS, F.ASCE Illuminate Foundry, Inc.
                a.button(href="") Speaker Details
            div.speaker-profile
              div.session-col
                div.col-sm-6.dateline.text-right THURSDAY #[div.date APR 3]
                div.col-sm-6.sessiontype         OPENING #[br] PLENARY
              div.photo-col
                img(src="./img/FPO_speaker_130x130.jpg", alt="speaker")
              div.details-col
                div.person-name Charles Johnson
                div.person-title Ph.D., P.E., S.E., CVS, F.ASCE Illuminate Foundry, Inc.
                a.button(href="") Speaker Details
            h2 Pre-Conference Seminars
            p Sign up to earn additional PDHs at a pre-conference seminar:
            div.session Post Disaster Safety Evaluations
            p 6.0 PDHs - in cooperation with California Office of Emergency Services (CalOES) and Applied Technology Council (ATC)
            div.session Design of Sustainable Thermal Breaks
            p 4.0 PDHs
            h2 More Highlights
            ul
              li Dynamic technical sessions - choose from more than 120 sessions
              li The Council of American Structural Engineers (CASE) Spring Risk Management Convocation
              li Networking with more than 1,200 colleagues
            a.button(href="") View Program
        div.o-Flex__Item.o-SideCol.-ph-2
            div.callout.register
              img(src=conference.image.sidebar, alt="")
              h4 Sheraton Boston Hotel &amp; Hynes Convention Center
              a.button(href="") REGISTER TODAY
              a(href="") #[span.ic.download] Save to my calendar
            div.callout.rates
              p.
                EARLY BIRD RATES - Save up to $200! #[br]#[br]
                $675 - Members #[br]
                $875 - Non-Members #[br]
                #[a(href="") More options &amp; rates available]#[br]
                Prices go up February 12, 2014 #[br]
            div.callout.important-dates
              h2 Important Dates
              div.callout-body
                div.date-block
                  div.date-col
                    div.date Dec 18
                    div 2013
                  div.description-col Final Papers #[br] Due
                div.date-block
                  div.date-col
                    div.date Feb 12
                    div 2014
                  div.description-col Early Registration #[br] Deadline
                div.date-block
                  div.date-col
                    div.date Mar 13
                    div 2014
                  div.description-col Advance Registration Deadline
                div.date-block
                  div.date-col
                    div.date Apr 21
                    div 2014
                  div.description-col Cancellation Deadline #[br] (minus $65)
            div.callout.chairs
              h2 Conference Chairs
              div.callout-body
                div.person-name  Glenn Bell, P.E., F.SEI, M.ASCE
                div.person-title Simpson Gumpertz &amp; Heger Inc.
                div.person-name  Matt Card, P.E., Aff.M.ASCE
                div.person-title Alfred Benesch &amp; Co.
                a(href="") Message from the Chairs
            div.callout.sponsors.hidden-xs
              h2 Platinum Sponsors
              div.callout-body.cycle-slideshow
                img(src="./img/sponsor_logo_horizontal2.gif", alt="")
                img(src="./img/sponsor_logo_horizontal1.gif", alt="")
            div.callout.mobile-app
              h2 Download Mobile App
              div.callout-body
                p.
                  #[strong PLAN, ENGAGE, CONNECT]
                  #[br]
                  Enhance your conference experience with our mobile app.
                div.text-center
                  a(href=""): img(src="./img/App-Store.png" alt="")
                  a(href=""): img(src="./img/Google-Play.png" alt="")
            div.callout.join-conversation
              h2 Join the Conversation
              div.callout-body
                div Follow ASCE on social media for real-time conversation.
                a(href="")            #[span.ic.twitter-large] #structures2014
                a.pull-right(href="") #[span.ic.facebook-large]
                a.pull-right(href="") #[span.ic.google-large]
    div
      aside: div.o-Constrain
        h2 Top Sponsors
        div.top-sponsor-block.platinum
          div.box
            img.c-SupporterLogo(src="./img/sponsor_logo_horizontal2.gif" , alt="")
            img.c-SupporterLogo(src="./img/sponsor_logo_horizontal1.gif" , alt="")
        div.top-sponsor-block.gold
          div.box
            img.c-SupporterLogo(src="./img/Sponsorlogo_square1.gif"      , alt="")
            img.c-SupporterLogo(src="./img/sponsor_logo_horizontal3.gif" , alt="")
            img.c-SupporterLogo(src="./img/sponsor_logo_horizontal4.gif" , alt="")
        div.top-sponsor-block.corporate
          div.box
            img.c-SupporterLogo(src="./img/sponsor_logo_horizontal3.gif" , alt="")
            img.c-SupporterLogo(src="./img/sponsor_logo_horizontal4.gif" , alt="")
      aside.c-Mast.c-Mast--coop.coop-orgs-block
        div.o-Constrain
          h2 COOPERATING ORGANIZATIONS
          img.c-SupporterLogo(src="./img/cooplogo_square1.gif"     , alt="")
          img.c-SupporterLogo(src="./img/cooplogo_horizontal1.gif" , alt="")
          img.c-SupporterLogo(src="./img/cooplogo_horizontal2.gif" , alt="")
          img.c-SupporterLogo(src="./img/cooplogo_horizontal3.gif" , alt="")
          img.c-SupporterLogo(src="./img/cooplogo_square4.gif"     , alt="")
          img.c-SupporterLogo(src="./img/cooplogo_horizontal4.gif" , alt="")
          img.c-SupporterLogo(src="./img/cooplogo_square2.gif"     , alt="")
    footer.footer
      ol.o-List.o-Flex(style="justify-content: flex-end;" role="tablist")
        li.o-List__Item.o-Flex__Item(style="flex:0 0 auto;")#tab-prev(data-toggle="tab" role="tab"): a(href="#panel-prev") 2013
        li.o-List__Item.o-Flex__Item(style="flex:0 0 auto;")#tab-current(data-toggle="tab" role="tab" aria-selected="true"): a(href="#panel-current") 2014
        li.o-List__Item.o-Flex__Item(style="flex:0 0 auto;")#tab-next(data-toggle="tab" role="tab"): a(href="#panel-next") 2015
      ol.o-List.o-Flex
        li.o-List__Item.o-Flex__Item.o-TabPanel#panel-prev(aria-labelledby="tab-prev")
          div.row.title
            div.container
              div.hidden-xs.pull-left
                span.c-YearBadge 13
              h2 Sample ASCE Conference 2013
          div.row.details.year-prev-next
            div.container
              div.col-container
                div.logo-col.hidden-xs.text-center
                  img.conference-logo(src=conference.image.shield)
                div.auto-col
                  div.col-sm-12.col-xs-10.col4
                    h2 TORONTO, CANADA  |  MAY 2&ndash;4, 2013
                    h3 Baylord Hotel
                    h4 Lorem Ipsum Optional Tagline for the Conference Goes Here
                    p: strong lorem ipsum optional theme or a brief description of this conference. dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum.
                    p: a.c-LinkArrow(href="") Program
                    p: a.c-LinkArrow(href="") Proceedings
        li.o-List__Item.o-Flex__Item.o-TabPanel#panel-current(aria-labelledby="tab-current")
          div.row.title
            div.container
              div.hidden-xs.pull-left
                span.c-YearBadge 14
              h2 Sample ASCE Conference 2014
          div.row.details
            div.container
              div.col-container
                div.logo-col.hidden-xs.text-center
                  img.conference-logo(src=conference.image.shield)
                div.auto-col
                  div.col-sm-4.hidden-xs
                    div.link-block
                      a.large.uppercase(href="./") Home
                    div.link-block
                      a.large.uppercase(href="") Program
                      a(href="") Speakers
                      a(href="") Exhibitor List
                      a(href="") ASCE Communities &amp; Pavilions
                    div.link-block
                      a.large.uppercase(href="") Location
                      a(href="") Lodging &amp; Transportation
                      a(href="") For International Travel
                    div.link-block
                      a.large.uppercase(href="") About
                      a(href="") Cooperating Organizations
                      a(href="") Volunteer
                  div.col-sm-4.col3.hidden-xs
                    a.large(href="") Why Attend
                    a.large(href="") Registration
                    a.large(href="") For Speakers
                    a.large(href="./sponsors.html") Sponsors
                    a.large(href="") Exhibitors
                  div.pull-left.col-xs-2.visible-xs: img.conference-logo(src=conference.image.shield)
                  div.col-sm-4.col-xs-10.col4
                    div.link-block.contact
                      h3 Contact Us
                      a.large(href="") #[span.ic.mobile-phone] (800) 548-2723
                      a.large(href="") #[span.ic.twitter] #structures2014
                      a.large(href="") #[span.ic.contact-large] Other contacts
                    div.link-block.connect
                      h3 Connect With ASCE
                      a(href=""): span.ic.linkedin
                      a(href=""): span.ic.facebook
                      a(href=""): span.ic.twitter
                      a(href=""): span.ic.youtube
                      a(href=""): span.ic.google
        li.o-List__Item.o-Flex__Item.o-TabPanel#panel-next(aria-labelledby="tab-next")
          div.row.title
            div.container
              div.hidden-xs.pull-left
                span.c-YearBadge 15
              h2 Sample ASCE Conference 2015
          div.row.details.year-prev-next
            div.container
              div.col-container
                div.logo-col.hidden-xs.text-center
                  img.conference-logo(src=conference.image.shield)
                div.auto-col
                  div.col-sm-12.col-xs-10.col4
                    h2 Mexico City, Mexico  |  April 30 &ndash;  May 2, 2015
                    h3 Fuentes Conference center
                    h4 Lorem Ipsum Optional Tagline for the Conference Goes Here
                    p: strong lorem ipsum optional theme or a brief description of this conference. dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum.
                    p: a.c-LinkArrow(href="") Call for submissions
                    p: a.c-LinkArrow(href="./sponsors.html") Sponsors
                    p: a.c-LinkArrow(href="") Exhibit
      div.visible-xs.mobile-nav.navigation
        a(href="") #[span.ic.home]
        a(href="") Register
        a.menu-toggle(href="") Menu #[span.ic.menu]
      div.row.copyright.text-center
        div.container
          div.asce-logo
          span Copyright © 1996&ndash;2015, American Society of Civil Engineers | #[a(href="") ASCE.org]
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
    script.
      window.jQuery || document.write('<script src="./js/vendor/jquery-1.11.0.min.js"><\/script>')
    script(src="./bower_components/bootstrap/dist/js/bootstrap.min.js")
    script(src="./js/vendor/jquery.hoverIntent.min.js")
    script(src="./bower_components/jquery-cycle2/build/jquery.cycle2.min.js")
    script(src="./js/main.js")
